body {
    background-color: #000;
    color: #f00;
    font-family: Arial, sans-serif;
    padding: 15px;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  #podcast {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #f00;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  