body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0;
  flex-direction: column; /* Arrange items vertically */
  padding: 20px; /* Add some padding around the whole body */
  overflow: auto; /* Allow scrolling on the whole body if needed */
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#header-image {
  margin-right: 10px;
}

#podcast-form-wrapper, #podcast-list {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px; /* add some space between the form and the list */
}

#podcast-form label {
  display: block;
  margin-bottom: 10px;
}

#podcast-form input,
#podcast-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#podcast-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#podcast-form button:hover {
  background-color: #0056b3;
}

#logo {
  width: 50px; /* Adjust this to change the size of the logo */
}

#podcast-list {
  margin-top: 20px;
  padding: 10px;
  height: auto; /* Adjust this to change the height of the podcast list */
  overflow-y: auto; /* Enable vertical scrolling for the podcast list */
}

#podcast-list-items li {
  margin-bottom: 10px;
}

.delete-btn {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}

/* New additions */

#content-wrapper {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#podcast-card {
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 100px;
  height: auto;
}
